### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

file_to_load = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [14]:
#Player Count
player_demographics = df.loc[:, ["Gender", "SN", "Age"]]
player_demographics=player_demographics.drop_duplicates()
player_count=player_demographics.count()[0]
player_count
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Purchasing Analysis - unique items
number_unique_items =len(df["Item ID"].unique())
#Purchasing Analysis - average price
average_purchase_price= df["Price"].mean()

#Summary Table
purchasing_analysis_summary = pd.DataFrame({"Number of Unique Items":number_unique_items,
                                            "Average Purchase Price":average_purchase_price},index=[0])

purchasing_analysis_summary

   Number of Unique Items  Average Purchase Price
0                     183                3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
#Gender Demographics - Count
gender_demographics_totals = player_demographics["Gender"].value_counts()
#Gender Demographics - %
gender_demographics_percents = gender_demographics_totals / player_count * 100

#Display
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents})

gender_demographics

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Get Purchase Count
gender_counts = df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
# Get Average purchase price
gender_average = df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
# Get Average Purchase Total
gender_purchase_total = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
avg_purchase_total = gender_purchase_total / gender_demographics["Total Count"]

# Create a summary table
gender_data = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_average,
                            "Total Purchase Value": gender_purchase_total, "Avg Purchase Total": avg_purchase_total})

# Display Summary
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:

#Age Demographics - Bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
#Age Demographics - Categories
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorize the existing players using the age bins. Hint: use pd.cut()
player_demographics["Age Group"] = pd.cut(player_demographics["Age"], bins, labels=group_names)

#Count by Age grp
age_group = player_demographics.groupby("Age Group").count()
age_group = age_group[["Age"]]
age_group = age_group.rename(columns={"Age": "Total Count"})

#% by Age group
age_group["Percentage of Players"] = age_group["Total Count"] / player_count * 100

#Summary Table
age_group = age_group[["Total Count", "Percentage of Players"]]
pd.options.display.float_format = '{:,.2f}'.format

age_group

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:


user_total = df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = df.groupby(["SN"]).count()["Price"].rename("Purchase Count")
#Summary Table
user_data = pd.DataFrame({"Total Purchase Value": user_total,
                          "Average Purchase Price": user_average,
                          "Purchase Count": user_count})
#sort
user_data.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
#Store Item id and Name
number_unique_items = df.groupby(["Item ID","Item Name"])

top_five_items = number_unique_items[["Price"]].count().nlargest(5,"Price")
top_five_items = top_five_items.rename(columns={"Price": "Purchase Count"})
item_prices = number_unique_items[["Price"]].mean()
item_prices = item_prices.rename(columns={"Price": "Item Price"})
merge1 = top_five_items.join(item_prices)
item_purchase_total = number_unique_items[["Price"]].sum()
item_purchase_total = item_purchase_total.rename(columns={"Price": "Total Purchase Value"})
top_five_items = merge1.join(item_purchase_total)
print("Most Popular Items")
top_five_items

Most Popular Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
145,Fiery Glass Crusader,9,4.58,41.22
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [35]:

#Most Profitable Items
top_five_profitable = number_unique_items[["Price"]].sum().nlargest(5,"Price")
top_five_profitable = top_five_profitable.rename(columns={"Price": "Total Purchase Value"})
top_five_profitable
item_purchases = number_unique_items[["Price"]].count()
item_purchases = item_purchases.rename(columns={"Price": "Purchase Count"})
merge1 = top_five_profitable.join(item_purchases)
item_prices = number_unique_items[["Price"]].mean()
item_prices = item_prices.rename(columns={"Price": "Item Price"})
merge2 = merge1.join(item_prices)
top_five_profitable = merge2[["Purchase Count", "Item Price", "Total Purchase Value"]]
print("Most Profitable Items")
top_five_profitable

Most Profitable Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [ ]:
Analysis :
    Oathbreaker,Last Hope of the Breaking Storm is the most popular item 
    Majority of the players are in the age group 20-24 
    Male spend is more than the female spend.